BOT_TOKEN = "Ваш токен для бота, полученный от @BotFather"
ADMIN_IDS =  телеграм-id администратор -а/-ов бота(если несколько, писать через запятую)
INSPECTOR_ID = телеграм-id проверщика ответов на задания
MAIN_ADMIN_ID = телеграм-id главного админа, которому будут присылаться ошибки
